@use '../variables' as *;
@use '../mixins' as *;

#task-list-container {

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($border-color, 40%);
    }

    input[type="checkbox"] {
      margin-right: $spacing-unit;

      &:checked+span {
        color: $muted-color;
        text-decoration: line-through;
      }
    }

    span {
      color: $text-color;

      &.completed {
        color: gray;
        text-decoration: line-through;
      }
    }

    button {
      @include button-style($secondary-color, white);
    }
  }
}